---
title: Written work
---
.list
  .nice-list
    - data.articles.each do |w|
      .item
        .date= w.date
        .content
          .title= link_to "#{w.title}", "#{w.link}"
          .website= link_to "#{w.website}", "#{w.websitelink}"

.list
  :markdown

    ## GitLab Releases

    See the pictures in the release posts? It's always a picture of where I am on the moment of the release! Usually somewhere in Portugal or the Netherlands.

    - December 2016 [GitLab 8.15 release post](https://about.gitlab.com/2016/12/22/gitlab-8-15-released/)
    - November 2016 [GitLab 8.14 release post](https://about.gitlab.com/2016/11/22/gitlab-8-14-released/)
    - October 2016 [GitLab 8.13 release post](https://about.gitlab.com/2016/10/22/gitlab-8-13-released/)
    - September 2016 [GitLab 8.12 release post](https://about.gitlab.com/2016/09/22/gitlab-8-12-released/)
    - August 2016 [GitLab 8.11 release post](https://about.gitlab.com/2016/08/22/gitlab-8-11-released/)
    - July 2016 [GitLab 8.10 release post](https://about.gitlab.com/2016/07/22/gitlab-8-10-released/)
    - June 2016 [GitLab 8.9 release post](https://about.gitlab.com/2016/06/22/gitlab-8-9-released/)
    - May 2016 [GitLab 8.8 release post](https://about.gitlab.com/2016/05/22/gitlab-8-8-released/)
    - April 2016 [GitLab 8.7 release post](https://about.gitlab.com/2016/04/22/gitlab-8-7-released/)
    - April 2016 [Feature Highlight: Subscribe to Label](https://about.gitlab.com/2016/04/13/feature-highlight-subscribe-to-label/)
    - March 2016 [GitLab 8.6 release post](https://about.gitlab.com/2016/03/22/gitlab-8-6-released/)
    - February 2016 [GitLab 8.5 release post](https://about.gitlab.com/2016/02/22/gitlab-8-5-released/)
    - January 2016 [GitLab 8.4 release post](https://about.gitlab.com/2016/01/22/gitlab-8-4-released/)

    ### 2015

    - December 2015 [GitLab 8.3 release post](https://about.gitlab.com/2015/12/22/gitlab-8-3-released/)
    - November 2015 [GitLab 8.2 release post](https://about.gitlab.com/2015/11/22/gitlab-8-2-released/)
    - October 2015 [GitLab 8.1 release post](https://about.gitlab.com/2015/10/22/gitlab-8-1-released/)
    - September 2015 [GitLab 8.0 release post](https://about.gitlab.com/2015/09/22/gitlab-8-0-released/)
    - June 2015 [GitLab 7.12 release post](https://about.gitlab.com/2015/06/22/gitlab-7-12-released/)
    - May 2015 [GitLab 7.11 release post](https://about.gitlab.com/2015/05/22/gitlab-7-11-released/)
    - April 2015 [GitLab 7.10 release post](https://about.gitlab.com/2015/04/22/gitlab-7-10-released/)
    - February 2015 [GitLab 7.8 release post](https://about.gitlab.com/2015/02/22/gitlab-7-8-released/)
    - January 2015 [GitLab 7.7 release post](https://about.gitlab.com/2015/01/22/gitlab-7-7-and-ci-5-4-released/)

    ### 2014

    - December 2014 [GitLab 7.6 release post](https://about.gitlab.com/2014/12/22/gitlab-7-6-and-ci-5-3-released/)
    - November 2014 [GitLab 7.5 release post](https://about.gitlab.com/2014/11/21/gitlab-7-5-and-ci-5-2-released/)
