---
title: Quick Boardgame Search
---
.list
  :markdown

    # Quick Board Game Search

    Quick Board Game Search (QBS) is a simple app that lets you quickly search through the Boardgamegeek.com database and find information about a particular board game.

    If you have any feedback or questions, please reach out on Twitter @Jobvo

    [Find Quick Board Game Search in the App Store](https://bitly.com/quickbgs)

    # Roadmap

    ### 2.0

    - Shameless In-App purchase features:
      - Search history
      - Favorites
      - Ability to disable images

    ### Current: 1.5

    - Full screen images and descriptions
    - Sharing options
    - Smaller preview images for faster loading

    ### 1.4

    - Add image to game page
    - Add a button to refresh the hotness
    - Fix sponsoring options

    ### 1.3

    - Shake to load the hot games again
    - Add animations
    - Add about menu, with the option to sponsor development
