---
title: Made
---
.list
  :markdown

    I really enjoy building things that challenge me and push me to learn new
    things.

    Lately, I've been playing with iOS and making apps that are useful for
    myself and my friends.

    ## Live

    - [Quick Board Game Search](/qbs) - A simple app that allows you to search
    for boardgames and quickly get some information on them.
    - [Headlines](/headlines) - A very simple RSS reader

    ## In development

    - [Pro QR Reader](/pro-qr-reader) - The simplest QR reader
    - **Todos** - A todo app with GitLab Todos integration

    ## Past
    
    - Betterdeveloper.work - A better place for developer job ads. Currently working on a pivot. Built on Rails and Go.
    - Pushmeetup.com - iOS app that allows you to quickly meet up with someone else. Abandoned because we got bored with it.
    - Domici.ly - a home owners association management system. Abandoned because
    it's a horrible market to be in.
    - Kureer.com - Machine learning based job search engine. Ran out of money.
