.job-nav
  .title Job van der Voort
  .links
    = link_to "https://twitter.com/Jobvo/" do
      <small>@</small>jobvo
    &middot;
    = link_to 'about', '/'
    &middot;
    = link_to "talks", "/talks"
    &middot;
    = link_to "written", '/written'
    &middot;
    = link_to "made", '/made'
