---
title: Bio
---
.list
  :markdown

    # Bio

    Coming from neuroscience, Job went head-first into tech by starting a startup, later working on Dutch IT infrastructure and eventually joining
    GitLab. At GitLab he's done everything from support, engineering to marketing, but ended up leading the direction of its product as VP of Product. In his free time, Job likes to build small, useful apps and play (board) games.

    # Headshot

    ![](/images/headshot.jpg)
